{{ auto_docs.title() }}

{{ auto_docs.description() }} \
The latter ones are configured via API calls. API can be used remotely(e.g. localhost machine) or from currently managed machine.
To configure the origin of requests set `grafana__api_from_localhost` and `grafana__api_url` variables accordingly.

Compatible with Grafana 5.x., 6.x haven't been tested, 4.x became depricated.

{{ auto_docs.requirements() }}

{{ auto_docs.platforms() }}

{{ auto_docs.defaults() }}

{{ auto_docs.vars() }}

{{ auto_docs.license() }}

{{ auto_docs.contributors() }}